nav {
  position: relative;
  top: 10px;
  width: 100%;
  height: 70px;
  padding: 15px 45px 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

#dropdownContainer {
  cursor: pointer;
  position: relative;
}

#navLogo {
  width: 65%;
}

#dropdownContent {
  display: none;
  position: absolute;
  top: 95px;
  right: -20px;
  background-color: #355592;
  padding: 30px 30px 30px 30px;
  height: 25vh;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

#dropdownContentContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dropdownChild {
  width: 60px;
  height: 9px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
}

#dropdownContentContainer a {
  font-size: 20px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

#btnJoinUs {
  padding: 5px 10px 5px 10px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  background-color: #f29c13;
}

@media (min-width: 1920px) {
  #navLogo {
    width: 25%;
  }

  #dropdownContainer {
    display: none;
  }
}
