#ourClassesSection {
  width: 100%;
  height: full;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}

.circular-background {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #f7f6f7;
  z-index: -3;
}

.triangle {
  position: absolute;
  bottom: 0; /* Set to 0 so that it touches the button's center */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #f29c0d;
}

.destroy-tri {
  display: none;
}

#ourClassesIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 95px;
  padding-right: 95px;
}

#ourClassesIntro h2 {
  font-size: 30px;
  color: #355493;
  font-weight: 900;
}

#ourClassesOrangeBox {
  margin-top: 8px;
  width: 90px;
  height: 7px;
  border-radius: 10px;
  background-color: #f29c13;
}

#ourClassesIntro p {
  font-size: 1.2rem;
  margin-top: 35px;
  text-align: center;
  color: black;
  font-weight: 600;
}

#ourClassesButtonContainer {
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

.ourClassButtonContainerInd {
  position: relative;
  height: 65px;
}

.ourClassesButton {
  font-size: 25px;
  align-items: center;
  color: white;
  width: 165px;
  border-radius: 3px;
  height: 55px;
  background-color: #355493;
  font-weight: 700;
  position: relative;
  border: none;
  cursor: pointer;
}

#btn4 {
  width: 200px;
}

.choosen {
  background-color: #f29c0d;
  box-shadow: 0 0px 20px #f29c13;
}

#ourClassesBottomText {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#ourClassesBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}

#ourClassesYoga h2 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 45px;
  font-weight: 700;
}

#ourClassesYoga p {
  color: rgba(0, 0, 0, 0.7);
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  word-spacing: 10px;
}

#ourClassesYogaTimes h2 {
  font-size: 45px;
}

#ourClassesYogaTimes h4 {
  margin-top: 30px;
  font-size: 20px;
}

#ourClassesImg {
  margin-top: 30px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1920px) {
  .circular-background {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #f7f6f7;
    z-index: -3; /* Adjust the angle as needed */
  }

  #ourClassesIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
  }

  #ourClassesIntro h2 {
    font-size: 2.4rem;
    color: #355493;
    font-weight: 900;
  }

  #ourClassesOrangeBox {
    margin-top: 8px;
    width: 100px;
    height: 8px;
    border-radius: 10px;
    background-color: #f29c13;
  }

  #ourClassesIntro p {
    font-size: 1.2rem;
    margin-top: 35px;
    text-align: center;
    color: black;
    font-weight: 600;
  }

  #ourClassesButtonContainer {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 110px;
  }

  #ourClassesImg {
    border-radius: 5px;
    margin-top: 30px;
    height: 35vh;
    width: 25vw;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #ourClassesBottomText {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    padding: 0px;
  }

  #ourClassesBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
    gap: 100px;
  }

  #ourClassesYoga h2 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    font-weight: 700;
  }

  #ourClassesYoga p {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    font-size: 15px;
    font-weight: 800;
    word-spacing: 5px;
  }

  #ourClassesYogaTimes h2 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
  }

  #ourClassesYogaTimes h4 {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    font-size: 17px;
  }
}
